<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="content" id="main-content">

		<h1>About Winfield Star-Tech</h1>
		<div class="panel panel-default col-sm-10">
			<div class="panel-body">
				<p>
					<span>Hello mate,<br/> <br/>Thank you for showing
						an interest in joining my corporation
					</span><span><a href="https://gate.eveonline.com/Corporation/Winfield Star-Tech" data-width="600" data-height="450" data-target="#myModal">Winfield
							Star-Tech</a></span><span>. In this mail I will tell you some
						things about my corp and why I think you should join.<br/> <br />I
						had tried to get into Eve many times in the past. But, I never got
						very far. Always ending with something along the lines of, "This
						doesn't make any sense!". But this time I was very lucky to run
						into a member of
					</span><span><a
						href="https://gate.eveonline.com/Corporation/Winfield Star-Tech">Winfield
							Star-Tech</a></span><span>, </span><span><a
						href="https://gate.eveonline.com/Profile/Taha Hakaari">Taha
							Hakaari</a></span><span> who was recruiting at the time. Taha
						was the first person who I had ever talked to in Eve. At that
						time, someone to answer my questions and just talk with while
						playing was the turning point for me. Looking back on it, if I had
						not met him I might have not continued playing. Having a
						first-hand resource to learn the game and give me advice greatly
						helped me get started. And I learned there is more to Eve than
						just mining space rocks and crushing Npc pirates. in WST we do
						everything from dangerous wormhole PvP fleets, to super fun mining
						missions where we eradicate whole asteroid belts and make a
						fortune of isk. Just having people to talk with while you do your
						own things is what I think is the best part. In my opinion there
						is nothing you can do in Eve that will not be 10x better with your
						mates. It is this thought that drives me as the Recruiting
						Director. I want to extend the same hand that was extended to me
						and make sure Eve is exciting and awesome for other people because
						I know how frustrating it can be alone.<br/> <br/>Winfield
						Star-Tech was born when
					</span><span><a
						href="https://gate.eveonline.com/Profile/Cole Winfield">Cole
							Winfield</a></span><span> stepped down as the CEO of the
						well-established manufacturing Corp </span><span><a
						href="https://gate.eveonline.com/Corporation/LankTech">LankTech</a></span><span>.
						Having taken over from the CEO of LankTech to re-organize and
						structure the Corp, Cole handed a restructured and now profit
						making Corp back to the founder. But, felt he wanted to build his
						own Corp from scratch. He went to the starter system of Embod and
						recruited just six brand new players to teach them the game and
						begin a corporation, </span><span><a
						href="https://gate.eveonline.com/Corporation/Winfield Star-Tech">Winfield
							Star-Tech</a></span><span> was born with just seven members
						on 28/9/2012.<br/> <br/>
					</span><span><a
						href="https://gate.eveonline.com/Profile/Cole Winfield">Cole
							Winfield</a></span><span> runs the Corp and acts as CEO. He
						has experience in all areas of the game and began his Eve Career
						with </span><span><a
						href="https://gate.eveonline.com/Corporation/HAMMER STAR BLADE">HAMMER
							STAR BLADE</a></span><span> and </span><span><a
						href="https://gate.eveonline.com/Alliance/Universal Paranoia Alliance">Universal
							Paranoia Alliance</a></span><span> becoming their Diplomacy and
						Recruitment Director before moving into LankTech. As CEO of WST,
						Cole Winfield has done an impressive job at building a Corp from
						scratch and turning it into a solid, smoothly running
						organization. Even with the Corp being at its current size he
						still keeps an eye on what's happening at all levels, generally
						being very attentive. He's kept the enthusiasm and is constantly
						pushing for us to grow and expand in a rate that doesn't make us
						stretch ourselves thinner than we can handle. He's happy to help
						out newbie pilots as well with good advice and tips, always being
						friendly and forthcoming. At the same time, he's not afraid to
						step up and show real leadership with a firm hand when this is
						occasionally called for, like in times of war. A combination
						which, in my opinion, makes a great CEO.<br/> <br/> <br/>The
						Corp consists of a baseline of very experienced players, which are
						happy to help out with all the problems and questions newbie
						players may have. We were all new once and WST is known amongst
						our peers as a Corp that takes in newbie pilots and helps them
						learn and enjoy the game. We only take in a few newbie pilots
						every recruitment drive to ensure they receive the attention they
						need and deserve. New players are initially helped by the Corp to
						get them into good mining ships and/or mission running ships so
						they could begin to earn Isk for themselves with considerable
						knowledge on how to fit and fly ships given.<br/> <br/>
					</span><span><a
						href="https://gate.eveonline.com/Corporation/Winfield Star-Tech">Winfield
							Star-Tech</a></span><span> as a Corp builds and sells ships
						to the open market. We also research and copy our own blueprints.
						Our manufacturing is fully up and running producing hundreds of
						ships every day. We buy minerals directly from our members to
						build our ships. This allows members to help the corp directly and
						since the corp pays the members directly through contracts, miners
						do not have to haul their minerals to market or pay market tax on
						mineral sales. This promotes a healthy relationship of members
						supporting the corp and the corp supporting its members. Another
						benefit of this is the corp can make all T1 ships and provide them
						to its members on request at build cost.<br/> <br/>Some of
						these funds are used to expand our infrastructure. CCP, the
						developers of Eve Online, recently added citadels to the game.
						Citadels are large player owned and built star bases. Currently we
						have added two citadels, the
					</span><span><a href="http://wiki.eveonline.com/en/wiki/Astrahus">Astrahus</a></span><span>
						and </span><span><a
						href="http://wiki.eveonline.com/en/wiki/Fortizar">Fortizar</a></span><span>.
						The Astrahus is the 'smallest' citadel, costing about two billion
						isk. We are currently using it as a home base and are running all
						our operations out of it. Recently we also built our Fortizar. The
						Fortizar is a large step up, providing a player run market and the
						ability to dock capital class ships. It is also bristling with
						firepower, able to defend all but the largest fleets. It is a
						testament to our expertise, costing over 20 billion isk to build.
						The Fortizar is a testament to the expertise of Winfield Star-Tech
						and proof of it manufacturing and defense fleet abilities. <br/>
						<br/> <br/>We operate out of a system in high sec in
						Minmattar space which has been carefully selected and in my view
						the best region of space for high sec mining in the game for a
						variety of strategic reasons. The Corp is engaged in many
						activities. We were originally a Mining and Manufacturing Corp and
						this is still our main activity. However, the Corp has matured and
						you will find that we do not just run mining fleets offering
						boosts and free perfect refining of ore. We also run regular
						mission fleets (in which you can access higher level missions and
						rewards than you otherwise could). Further, we have our own
						Wormhole system in which mining yields much more valuable ore than
						available in high-sec and also enables us to run Sleeper sites.
						PvP is unavoidable in Eve and despite us not being PvP orientated
						we do take part in PvP activities which is optional for our
						members, we run both PvP training and take part in regular PvP
						roams (see our zKillboard:
					</span><span><a
						href="https://zkillboard.comhttps://gate.eveonline.com/Corporation/98140131/">https://zkillboard.comhttps://gate.eveonline.com/Corporation/98140131/</a></span><span>
						so that members of the Corp can take part in the defense of the
						corporation when the need arises but also mainly have fun on such
						roams. Finally, we often run more `fun` less intensive activities
						such as image and story competitions, all with prizes of course.<br/>
						<br/>I really do believe finding a good corp can completely
						change your Eve experience into a better one. Even from week one
						we have plenty of fun events planned for you. Events planned to
						help you have funs and gain knowledge and isk. And along with all
						that a great group of active and experienced Corpmates willing to
						help you in any way possible. I hope this has helped give you an
						idea of what we do and what to expect. Similarly, I hope this
						makes you interested and excited about joining this endeavor. It
						is even possible that one day you could become a Director of the
						Corp and help lead it. In fact, the corps entire board of
						Directors is actually made up of players who joined the Corp as
						newbie pilots just like yourself. We are restricting recruitment
						to just 20 new personnel so its first come first served.<br/>
						<br/>Fly Safe,<br/>Nigel Sasune (Star-Tech Recruitment
						Director)
					</span>
				</p>
			</div>
		</div>
	</div>

</body>
</html>