<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>

<div th:fragment="content" id="main-content" ng-controller="KbListCtrl">
				<h1>Hangar</h1>
				Hangar like functionality, such as pvp list and ship doctrines
<div>
				<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#killboardDiv">Show Killboard</button>
</div>
  <div id="killboardDiv" class="collapse">
  
				<div class="panel panel-default col-sm-6">
  <div class="panel-heading">Killboard</div>
  <div class="panel-body">
				<table class="table table-fixed">
				<thead>
					<tr>
						<th>Character</th>
						<th>Ship Kills</th>
						<th>Ships Lost</th>
						<th>Net Kills</th>
					</tr>
				</thead>
				<tbody>
				<tr ng-repeat="e in kblist">
					<td>{{e.name}}</td>
					<td>{{e.shipsDestroyed}}</td>
					<td>{{e.shipsLost}}</td>
					<td>{{e.shipDestroyedBalance}}</td>
				</tr>
				</tbody>
				</table></div>
				</div>
</div>
</div>

</body>
</html>