<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="content" id="main-content">
		<h1>Welcome to Winfield Star-Tech</h1>
		<div class="panel-group col-sm-10">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="javascript:;"
							data-target="#collapse1">Welcome to the Corp</a>
					</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse">
					<div class="panel body">
						<p>
							<span><br/>Dear Recruit,<br/>
							<br/>Thank you for choosing to join </span><span><a
								href="https://gate.eveonline.com/Corporation/Winfield Star-Tech">Winfield Star-Tech</a></span><span>.
								I hope your capsuleer life with us will be an enjoyable and
								rewarding one for you. You will be receiving a lot of initial
								information to help you get started in your Winfield Star-Tech
								career. Although this may seem arduous at first I strongly
								recommend you read all the information which is sent to you as
								it contains important information to aid you. <br/>
							<br/>Please remember, we are here to help you so if you ever
								have any questions please feel free to ask in corp chat. We are
								an anti-pirate corp and any criminal acts by our pilots
								(ganking, stealing ore etc.) will result in expulsion from the
								corp. I would also like to remind you that going into low sec is
								a very bad idea, you will almost certainly be killed and should
								only enter low sec if you are in a covert ops ship (which can
								cloak) or as part of a PvP fleet. There are many tricks played
								to entice players into low sec, such as setting up very tempting
								market prices for goods to lure players into a low sec system
								where they can be ambushed. <br/>
							<br/>You will receive further Eve-Mails providing you with
								more information how the corp operates but at the moment you are
								probably wondering `What should I do now? ` Below is a check
								list of things you should do in the immediate future.<br/>
							<br/>
							<br/>1. Leave the Winfield Star-Tech Recruitment Lounge, this
								keeps it freed up for people not yet in the corp.<br/>
							<br/>2. Set your training queue so that you are training up
								for a
							</span><span><a
								href="http://wiki.eveonline.com/en/wiki/Retriever">Retriever</a></span><span>
								if you're not there already. This is an excellent starter mining
								ship and it will help pay for itself in no time.<br/>
							<br/>3. If you have not completed all the tutorial career
								missions in your system, do so before relocating.<br/>
							<br/>4. Move all of your equipment and ships to:
							</span><span><a
								href="http://wiki.eveonline.com/en/wiki/Astrahus">Irgrus -
									Indigo-One</a></span><span> This is our home system and base of
								operations, you will want to be here as everything is set up to
								make your life easier here, there are plenty of mission agents
								nearby. <br/>
							<br/>Fly Safe,<br/>
							</span><span><a href="https://gate.eveonline.com/Profile/Nigel Sasune">Nigel Sasune</a></span><span>
								(Winfield Star-Tech Recruitment Director)</span>
						</p>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="javascript:;"
							data-target="#makingmoney">How to make money from the Corp</a>
					</h4>
				</div>
				<div id="makingmoney" class="panel-collapse collapse">
					<div class="panel body">
						<p>
							<span><br/>Dear Recruit,<br/>
							<br/>How to make money from the corp<br/>
							<br/>The whole idea behind </span><span><a
								href="https://gate.eveonline.com/Corporation/Winfield Star-Tech">Winfield Star-Tech</a></span><span>
								is to create a corp which is mutually beneficial for its
								members, therefore the big question I am sure you are asking is
								how you can gain by being in the corp. At the moment this is by
								two main ways. By mining and by missioning. <br/>
							<br/>MISSION RUNNING<br/>Mission running fleets are often
								formed and allows players to take part in missions at higher
								levels than they currently have access to. I will personally
								arrange frequent level 2 and 3 mission fleets, from which all
								the rewards (including salvage) are split equally between the
								participants. When you join we will run a corp mission running
								op for you guys. This is a good chance to talk and get to know
								your corp mates. It is also a good introduction to mission
								running to get your feet wet. Usually other corp members are
								also happy to fleet up when running missions, so just ask in
								Corp chat.<br/>
							<br/>MINING<br/>Most of us use mining as our main source
								of income, as this provides a very good income and can be done
								semi afk. The Corporation is centered around this and the corp
								will buy any minerals you mine, the corp then uses these
								minerals to build ships and makes a profit from this. The corp
								then uses these profits to spend on facilities and projects etc.
								that benefit the members of the corp. There is usually someone
								'boosting'. When someone is boosting for you it increases your
								mining capabilities greatly. We will also be running weekly
								wormhole ops; these give you access the rarer ores which are
								worth a lot of isk. We are also planning on running mining ops
								together. These include: A common ore op where we all mine
								together and split the income evenly. The common ore op will be
								good to get you a decent amount of isk and chat with your
								Corpmates. Weekly ops into a wormhole for rare ores to provide
								you with a large amount of isk and provide the corp with
								minerals. Finally we have the monthly ice mining op. We will run
								this once a month to provide our stations with fuel. Everyone in
								the corp participates and lasts over 3 days. You don't have to
								mine the whole time and with everyone taking part it goes by
								quickly. You do not get paid for this, but it helps the corp
								tremendously. Without it, the corp would have to buy and haul
								all its fuel, putting a large strain on the budget. Decreasing
								funding to planning events for you guys. <br/>
							<br/>The first thing you will need to do is to mine ore. When
								you have mined the ore, you need to take it to
							</span><span><a
								href="http://wiki.eveonline.com/en/wiki/Astrahus">Irgrus -
									Indigo-One</a></span><span>. Here you can refine the ore into
								minerals but at the moment you probably won't have perfect
								refining skills, so instead you can create a contract to </span><span><a
								href="https://gate.eveonline.com/Profile/Taha Hakaari">Taha Hakaari</a></span><span>,
								setting the price etc. too free (more on how to do this below)
								and he will refine your ore into minerals with perfect refining
								skills and contract it back to you for free.<br/>
							<br/>To create a contract to Taha, you need to click on '<b>E'</b>
								on the upper left of your screen. Then select
								business-contracts. On the contracts screen select '<b><u>create
										contract</u></b>'. On the next window ensure <b>'<u>item
										exchange</u></b>`, and `<b><u>private</u></b>` are selected. In the `<b><u>Name</u></b>`
								box put
							</span><span><a href="https://gate.eveonline.com/Profile/Taha Hakaari">Taha Hakaari</a></span><span>.
								Then click the `<b><u>Next</u></b>` button. on the next screen
								ensure the ore you want refined has a checkmark in the box next
								to it. Then select `<b><u>next</u></b>` again. On the next
								window ensure `<b><u>I will pay</u></b>` and `<b><u>I
										will receive</u></b>` are set to <b>0.0</b> and set the expiration to
								2 weeks. Check all the details and select `<b><u>Finish</u></b>`.
								All refining will be done and sent back promptly.<br/>
							<br/>When you have your minerals you can then sell them to
								the corp. This benefits both you and the corp as a whole and we
								encourage you to do so, as we need the minerals to keep our
								manufacturing running. The corp prices are good prices for the
								minerals to ensure you benefit by selling them to the corp and
								if done in
							</span><span><a
								href="http://wiki.eveonline.com/en/wiki/Astrahus">Irgrus -
									Indigo-One</a></span><span> it means you do not have to do lots of
								hauling runs to move your minerals to a market hub to sell them.
								To sell your minerals to the corp you will first need to look at
								the Corp Bulletin board, where you will see a list of `<b><u>mineral
										blocks</u></b>`. To do this go to the Corporation button on the left
								of your screen (the ringed planet with stars around it icon). On
								that select the `<b><u>home</u></b>` tab and then the `<b><u>bulletins</u></b>`
								tab. On there you will see the prices per unit the corp is
								currently buying minerals at and the list of `<b><u>blocks</u></b>`.
								The corp buys minerals from players in the form of those blocks
								for a set amount of ISK to ensure the corp has the correct
								ratios of minerals in stock for its manufacturing. The mineral
								prices are updated regularly.<br/>
							<br/>Once you have the price set, you will need to create a
								contract in
							</span><span><a
								href="http://wiki.eveonline.com/en/wiki/Astrahus">Irgrus -
									Indigo-One</a></span><span> to the Corp. Again click on the '<b>E</b>'
								in the upper-left part of the screen and go to Business then
								contracts. Ensure `<b><u>Item Exchange</u></b>` and '<b><u>My
										corporation</u></b>` in the availability part. click '<b><u>next'</u></b>.
								Again ensure all you want to sell has an '<b><u>mark'</u></b>
								next to it. Click `<b><u>Next</u></b>` leave `<b><u>I
										will pay</u></b>` at 0.0 but then put the value you worked out your
								minerals cost in `<b><u>I will receive</u></b>`. Again set the `<b><u>Expiration</u></b>`
								to 2 weeks. check all the details and select `<b><u>Finish</u></b>`.
								Again contracts for Minerals will be checked and accepted
								promptly, if you have added up your minerals wrong it will be
								rejected. The mineral prices on the bulletin board do change, so
								check each time you set up a contract as the mineral values in
								Eve fluctuate.<br/>
							<br/>
							<br/>I hope this information helps you to begin to make Isk
								whilst being in the corp. If anything is unclear, of course just
								ask in corp chat.<br/>
							<br/>Fly Safe,<br/></span><span><a
								href="https://gate.eveonline.com/Profile/Nigel Sasune">Nigel Sasune</a></span><span>
								(Winfield Star-Tech Recruitment Director)</span>
						</p>


					</div>
				</div>
			</div>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="javascript:;"
							data-target="#corpranks">Corp Rank Structure</a>
					</h4>
				</div>
				<div id="corpranks" class="panel-collapse collapse">
					<div class="panel body">
						<p>
							<span><br/>
							<br/>--------------------------------<br/>FW: 3: Corp
								Rank Structure, revised<br/>From: </span><span><a
								href="https://gate.eveonline.com/Profile/Nigel Sasune">Nigel Sasune</a><br/></span><span>Sent:
								2016.08.24 14:06<br/>To:
							</span><span><a href="https://gate.eveonline.com/Profile/Cole Winfield">Cole Winfield</a></span><span>,
							</span><span><a href="https://gate.eveonline.com/Profile/Nigel Sasune">Nigel Sasune</a></span><span>,
							</span><span><a href="https://gate.eveonline.com/Profile/Taha Hakaari">Taha Hakaari</a></span><span>,
								<br/>
							<br/>
							<br/>Dear Recruit,<br/>
							<br/>
							</span><span><a href="https://gate.eveonline.com/Corporation/Winfield Star-Tech">Winfield
									Star-Tech</a></span><span> adopts a simple leadership structure.
								At the top of the chain of command is </span><span><a
								href="https://gate.eveonline.com/Profile/Cole Winfield">Cole Winfield</a></span><span>.
								Cole is the CEO and Founder of our corporation. During fleet ops
								he often acts as our Fleet Commander, or FC. The second in
								command is </span><span><a href="https://gate.eveonline.com/Profile/Taha Hakaari">Taha
									Hakaari</a></span><span>, this is Cole's alternate chatacter.
								Taha's biggest role is to provide ore reprocessing for corp
								mates. He also helps in the running of our stations. To help
								Cole and Taha run the corp there are Directors and Deputy
								Directors. They handle the core roles related to their position,
								and help organize fleet operations. Corporate decisions are all
								done by a voting system; The CEO gets two voyes, Directors get
								one vote and the deputy directors get half of a vote. Some of
								you may be interested in applying for these positions down the
								road. We are always looking for members to step up and help.
								Below I will list the current help positions; in no particular
								order:<br/>
							<br/>MINING<br/> Director:
							</span><span><a href="https://gate.eveonline.com/Profile/Sansa Aldeland">Sansa
									Aldeland</a></span><span> <br/> Deputy Director:
							</span><span><a href="https://gate.eveonline.com/Profile/Gathor Musana">Gathor Musana</a></span><span>
								<br/>
							<br/>MANUFACTURING<br/> Director:
							</span><span><a href="https://gate.eveonline.com/Profile/Obizwan Arthie">Obizwan
									Arthie</a></span><span> <br/> Deputy Director:
							</span><span><a href="https://gate.eveonline.com/Profile/Grainne O'Malley">Grainne
									O'Malley</a></span><span> <br/>
							<br/>EVENTS<br/> Director:
							</span><span><a href="https://gate.eveonline.com/Profile/Isabeau Navaera">Isabeau
									Navaera</a></span><span> <br/> Deputy Director:
							</span><span><a href="https://gate.eveonline.com/Profile/Grainne O'Malley">Grainne
									O'Malley</a></span><span> <br/>
							<br/>RESEARCH<br/> Director:
							</span><span><a href="https://gate.eveonline.com/Profile/Brukland Wyndhaven">Brukland
									Wyndhaven</a></span><span> <br/> Deputy Director:
							</span><span><a href="https://gate.eveonline.com/Profile/Auchen Rabbia">Auchen Rabbia</a></span><span>
								<br/>
							<br/>NON-EU<br/> Director:
							</span><span><a href="https://gate.eveonline.com/Profile/Davien Huren">Davien Huren</a></span><span>
								<br/> Deputy Director: Position still available<br/>
							<br/>RECRUITMENT<br/> Director:
							</span><span><a href="https://gate.eveonline.com/Profile/Nigel Sasune">Nigel Sasune</a></span><span>
								<br/> Deputy Director: Position still available<br/>
							<br/>Fly Safe,<br/>
							</span><span><a href="https://gate.eveonline.com/Profile/Nigel Sasune">Nigel Sasune</a></span><span>
								(Winfield Star-Tech Recruitment Director)<br/>
							</span>
						</p>

					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="javascript:;"
							data-target="#shipbuilding">Corp Ship Building Service</a>
					</h4>
				</div>
				<div id="shipbuilding" class="panel-collapse collapse">
					<div class="panel body">
						<p>
							<span>Dear Recruit,<br/>
							<br/>I would like to remind players of one of the major
								things the corps offers its members is, as a ship manufacturing
								corp we can of course sell our members ships. The corp sells
								ships to the market to `Buy` orders ensuring they are profitable
								compared to their mineral prices. What we do for Corp members is
								sell ships to them for the `buy` order price which is always
								lower than the `Sell` order you would purchase at off the
								market.<br/>
							<br/>I often get asked what ships we can make. Well the list
								is extremely long. We are able to produce EVERY Tech 1 Frigate,
								Destroyer, Industrial, Cruiser, Battlecruiser, Battleship and
								Retrievers. We can also build Orcas and Freighters. <br/>
							<br/>If a Corp member wishes to purchase a ship the best
								thing to do is mail
							</span><span><a href="https://gate.eveonline.com/Profile/Obizwan Arthie">Obizwan
									Arthie</a></span><span> what ship you would like built and he can
								then provide you with a quote. Occasionally we do find that the
								ships are cheaper to buy off the market than from us (This is
								often due to changes in the mineral prices and the market not
								responding quickly enough). We have to ensure the corp at least
								covers the mineral costs of a ship when selling to our members.<br/>While
								we do not officially build non-T1 ships on a case by case basis
								we can see if something can be worked out. If you would like to
								see if it is possible, please email Obizwan Arthie.<br/>
							<br/>I hope you see this as one of the `perks` of being in
								the corp and see this as a very viable way in which you can
								benefit from the Corp<br/>
							<br/>Fly Safe,<br/>
							</span><span><a href="https://gate.eveonline.com/Profile/Nigel Sasune">Nigel Sasune</a></span><span>,
								Winfield Star-Tech Recruitment Director</span>
						</p>

					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="javascript:;"
							data-target="#shipfits1">Ship Fits Part 1 (Introduction)</a>
					</h4>
				</div>
				<div id="shipfits1" class="panel-collapse collapse">
					<div class="panel body">
						<p>
							<span><br/>Dear New Recruit, (On behalf of </span><span><a
								href="https://gate.eveonline.com/Profile/Cole Winfield">Cole Winfield</a></span><span>,
								who wrote the fitting guide)<br/>
							<br/>We often get people asking for help with ship fits,
								especially initially when they are relatively new to the game.
								Effective ship fitting is a bit of a `black art` as it is far
								more complex than it first seems. Even to this day I still ask
								for others to look over my ship fits when I have made them.
								Effective ship fitting can however make a massive difference in
								your ability to complete missions etc. So as part of our service
								to help you get started I have produced a series of ship fits
								for mining and mission running, designed to be low skilled and
								cheap. There are fits for every race going Frigate &gt;
								Destroyer &gt; Cruiser &gt; Battlecruiser. A lot of time has
								been spent creating these fits and I do strongly recommend them
								for you to mission run in. I have tried to provide a brief
								explanation of the way the different ships should be flown etc.
								Any feedback on how you are finding the fits is always welcome
								as it will help me adjust and fits if need be and provide more
								help for new corp members in the future.<br/>
							<br/>Ok, so to begin with we strongly recommend you get into
								a
							</span><span><a
								href="http://wiki.eveonline.com/en/wiki/Retriever">Retriever</a></span><span>
								as fast as possible, it makes a massive difference on your
								starting Venture and will allow you to really start to earn Isk
								which you can use in turn to purchase Combat ships for Mission
								Running. Our Manufacturing Director will put fully fitted
								Retrievers for sale at a cheap cost for you guys after you join.<br/>
							<br/>Why should I mission run at all?<br/>
							<br/>Mission running has two massive benefits, even though
								you may decide you want a career in another area. It can not
								only give you a relatively safe way to gain Isk, but it provides
								you with invaluable experience but also vitally `Standings`
								These are your reputation with NPC Eve Corps and standings
								influence so many aspects of the game such as Ore refine rates
								and whether or not you can make Jump Clones. The higher your
								standings the so much more you can do in the game.<br/>
							<br/>Fly Safe,<br/>
							</span><span><a href="https://gate.eveonline.com/Profile/Nigel Sasune">Nigel Sasune</a></span><span>
								(Winfield Star-Tech Recruitment Director)</span>
						</p>

					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="javascript:;"
							data-target="#shipfits2">Ship Fits Part 2 (The Rules of Ship
							Fitting)</a>
					</h4>
				</div>
				<div id="shipfits2" class="panel-collapse collapse">
					<div class="panel body">
						<p>
							<span><br/>
							<br/>Dear Recruit,<br/>
							<br/>
							<b><u>1. Try not to mix your guns</u></b>, go for guns of the
								same type and size and `group` them together they are much more
								effective this way. I see so many new players try to argue for a
								mix of gun types...trust me it is so much less effective; you
								will need to learn how to fly your ship to its best philosophy.<br/>
							<br/>
							<b><u>2. Use as many high slots as you can for weaponry,</u></b>
								don't bother fitting a salvager as its more efficient to use a
								`salvage ship`.<br/>
							<br/>
							<b><u>3. Don't mix your tanks on your ships choose</u></b> a type
								of tank, for those who don't know what Tanking means it's the
								primary way you `defend` your ship. Basically you either use
								Armor modules (Tend to be low slot modules) to bolster your
								ships armor OR you use Shield modules (Tend to be medium slot
								modules) to bolster your ships shields. Now each of Armor and
								Shield tanks can either be `Passive` (Means no modules need to
								be switched on to provide your defense) or `Active` (Means that
								a module has to be switched on which will actively repair the
								damage to your shields/armor). Example modules of Each type of
								tanking are as follows:<br/>
							<br/>Passive Armor Tank: </span><span><a
								href="http://wiki.eveonline.com/en/wiki/100mm_Rolled_Tungsten_Compact_Plates">100mm
									Reinforced Rolled Tungsten Plates I</a></span><span> <br/>Active
								Armor Tank:
							</span><span><a
								href="http://wiki.eveonline.com/en/wiki/Small_Armor_Repairer_I">Small
									Armor Repairer I</a></span><span> <br/>Passive Shield Tank:
							</span><span><a
								href="http://wiki.eveonline.com/en/wiki/Small_Shield_Extender_I">Small
									Shield Extender I</a></span><span> <br/>Active Shield Tank:
							</span><span><a
								href="http://wiki.eveonline.com/en/wiki/Small_Shield_Booster_I">Small
									Shield Booster I</a></span><span> <br/> <br/>Again,
								please, please, please, remember never, never, never, mix your
								tanks. I have heard players say `well why don't I fit armor
								modules in my low slots and shield modules in my middle slots
								and get twice the amount of tanking? ` Well it isn't that simple
								as a properly tanked ship will use the `other` set of slots to
								bolster the effectiveness of its tanking modules as well as
								being used for resistance bonus modules and modules to add to
								your damage. And that's not even taking into consideration that
								you should fit rigs to your ship to bolster their tank. In a
								nutshell don't do it, I've often seen mixed tank fits posted
								when the ship has been lost and you will basically be a laughing
								stock.<br/>
							<br/>
							<b><u>4. Use Mission Specific hardeners and ammunition</u></b>
								When you have the mission briefing window open try and see what
								type of enemy you are fighting. If you can see who the mission
								is against you can then look up the enemy using this link:
							</span><span><a href="http://www.ogrank.com/content/view/698/59">http://www.ogrank.com/content/view/698/59</a></span><span>
								This will tell you what is the best type of damage to inflict on
								an enemy and what is best to tank. This can make a massive
								difference. You can then look at different ammunition types you
								can fit, look at the `show info` and its `attributes` and you
								will see what damage type the ammo does. Likewise, for the
								`tanking` modules I would advise you buy a resistance tanking
								module of each type for each resistance module you have fitted.<br/>
							<br/>For example, if I had two shield resistance modules on a
								ship fit I would try to buy two of each of these:
							</span><span><a
								href="http://wiki.eveonline.com/en/wiki/Limited_'Anointed'_EM_Ward_Field">Limited
									'Anointed' EM Ward Field</a></span><span> </span><span><a
								href="http://wiki.eveonline.com/en/wiki/Limited_Explosive_Deflection_Field_I">Limited
									Explosive Deflection Field I</a></span><span> </span><span><a
								href="http://wiki.eveonline.com/en/wiki/Limited_Kinetic_Deflection_Field_I">Limited
									Kinetic Deflection Field I</a></span><span> </span><span><a
								href="http://wiki.eveonline.com/en/wiki/Limited_Thermal_Dissipation_Field_I">Limited
									Thermic Dissipation Field I</a></span><span> </span><span><a
								href="http://wiki.eveonline.com/en/wiki/Limited_Adaptive_Invulnerability_Field_I">Limited
									Adaptive Invulnerability Field I</a></span><span> the last of
								these is a `universal` hardener that gives a lesser bonus to all
								the resistance types and can be very useful when an enemy can
								cause two damage types.<br/>
							<br/>Armor resistance versions are:
							</span><span><a
								href="http://wiki.eveonline.com/en/wiki/Prototype_Energized_EM_Membrane_I">Prototype
									Energized EM Membrane I</a></span><span> </span><span><a
								href="http://wiki.eveonline.com/en/wiki/Prototype_Energized_Explosive_Membrane_I">Prototype
									Energized Explosive Membrane I</a></span><span> </span><span><a
								href="http://wiki.eveonline.com/en/wiki/Prototype_Energized_Kinetic_Membrane_I">Prototype
									Energized Kinetic Membrane I</a></span><span> </span><span><a
								href="http://wiki.eveonline.com/en/wiki/Prototype_Energized_Thermal_Membrane_I">Prototype
									Energized Thermic Membrane I</a></span><span> and </span><span><a
								href="http://wiki.eveonline.com/en/wiki/Prototype_Energized_Adaptive_Nano_Membrane_I">Prototype
									Energized Adaptive Nano Membrane I</a></span><span> for the
								universal one. Armor tanking can also use these modules </span><span><a
								href="http://wiki.eveonline.com/en/wiki/Prototype_Armor_EM_Hardener_I">Prototype
									Armor EM Hardener I</a></span><span> </span><span><a
								href="http://wiki.eveonline.com/en/wiki/Prototype_Armor_Explosive_Hardener_I">Prototype
									Armor Explosive Hardener I</a></span><span> </span><span><a
								href="http://wiki.eveonline.com/en/wiki/Prototype_Armor_Kinetic_Hardener_I">Prototype
									Armor Kinetic Hardener I</a></span><span> </span><span><a
								href="http://wiki.eveonline.com/en/wiki/Prototype_Armor_Thermal_Hardener_I">Prototype
									Armor Thermic Hardener I</a></span><span> (but they use up
								Capacitor unalike the other modules but give a greater bonus):
								(There is no `universal` one for these hardeners). <br/>
							<br/>Please note there are different less and more expensive
								versions of all the above hardeners, they are just examples. <br/>
							<br/>So if you see a fit which uses a hardener of some sort
								(and nearly all do) be prepared to `swap` different hardeners in
								and out to suit the needs of the mission you are on, again it's
								a brilliant habit to get into and is vital to survive higher
								level missions.<br/>
							<br/>Fly Safe,<br/>
							</span><span><a href="https://gate.eveonline.com/Profile/Nigel Sasune"> Nigel Sasune</a></span><span>
								, Winfield Star-Tech Recruitment Director</span>
						</p>

					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="javascript:;"
							data-target="#shipfits3"> Ship Fits Part 3 (Meta Levels and
							Ships)</a>
					</h4>
				</div>
				<div id="shipfits3" class="panel-collapse collapse">
					<div class="panel body">
						<p>
							<span><br/>Dear Recruit,<br/>
							<br/>
							<b><u>Modules and Meta Levels</u></b><br/>
							<br/>At first the wide range of modules that do the same
								thing, is at the very least bewildering. However, I will try to
								help you understand this and therefore be able to enhance your
								knowledge of the modules. The thing to consider id the `Meta
								Level` of the module. To see a Meta Level, go to `Show Info` and
								attributes. You can see it there. Now the simple general rule is
								the higher the Meta Level the better that module is at what it
								does, but in turn the more expensive it is. Now there is a
								useful function you can use to `compare` the abilities of a
								similar module. Go to `Show Info` on a module &gt; variations
								and select the compare button. This will allow you to select
								different criteria (including metal levels) to compare modules
								of similar type. A guide to Metal Levels is as follows. Meta
								Levels 0 to 4 are considered T1 (Tech 1) modules, Meta Level 5
								is called T2 (Tech 2) and Meta levels 6+ Are called Faction
								Modules. To begin with you will want to aim towards trying to
								fly mission running ships that are Meta 4 T1 fitted and then
								onto T2 fitted mission running ships. Eventually you will find
								yourself spending hundreds of millions of isk to fly a fully
								Faction Fitted ship.<br/>
							<br/>
							<b><u>Should I fit a Salvager?</u></b><br/>
							<br/>Ok, many people will say (specially to begin with) `Why
								don't I just fit a Salvager or take and use Salvage drones so I
								can salvage my mission as I go? ` Well I would argue strongly
								against this. Salvagers take up a high slot these are the slots
								in which you mount your weapons. Why nerf your damage dealing
								capability to be able to salvage as you move through a mission?
								Even if you can't fit any more turrets or missile launchers in
								your high slots you can still add things like Energy
								Neutralizers which will help hinder the enemy. As for salvage
								drones, again, why not take Combat drones instead (useful hint
								always take 5 Light scout drones as no matter how big your ship
								you will find that these little beauties can be used against
								small fast ships like frigates that your bigger guns can't
								track). So what should you do to salvage? Well use a dedicated
								Salvage ship. Complete the objectives of your mission, then
								(before you tell the agent you have completed the mission) dock
								up, get into your salvage ship, tractor beam and salvage all the
								wrecks. It's a lot quicker than salvaging during a mission. Then
								when you are done, hand your mission in to your agent.
								Ultimately you will want to fly a </span><span><a
								href="http://wiki.eveonline.com/en/wiki/Noctis">Noctis</a></span><span>
								to do this, with its bonus's to tractor beams and salvagers but
								to begin with until you get in one you can use a Destroyer hull
								very effectively to do this role. Trust me, in the long run it
								will save you a lot of time and effort (I've provided example
								Destroyer-Salvager fits for each of the races in my ship fits
								for you).<br/>
							<br/>
							<b><u>What ship for What Level of Mission?</u></b><br/>
							<br/>There are a variety of different ship classes in Eve and
								with the ships and fits I have created for you as `starter fits`
								it is important to know for what level of mission the fits are
								aimed at. Essentially the rough guide is as below if you are
								soloing a mission with relatively low skills. The rough guide to
								the fits are as follows:<br/>
							<br/>Frigates (Level 1 Security Missions)<br/>Destroyers
								(Level 1 to 2 Security Missions)<br/>Cruisers (Level 2
								Security Missions)<br/>Battlecruisers (Level 2 to 3 Security
								Missions)<br/>
							<br/>Battleships can be used to solo level 3 missions and
								more experienced players can solo level 4's in them. I can but
								in all honesty due to the exponential risk in Level 4's I tend
								to only run them in fleets.<br/>
							<br/>Fly Safe,<br/>
							</span><span><a href="https://gate.eveonline.com/Profile/Nigel Sasune">Nigel Sasune</a></span><span>
								(Winfield Star-Tech Recruitment Director)</span>
						</p>

					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="javascript:;"
							data-target="#shipfits4">Ship Fits Part 4 (The Races)</a>
					</h4>
				</div>
				<div id="shipfits4" class="panel-collapse collapse">
					<div class="panel body"></div>
				</div>
			</div>


		</div>

	</div>

</body>
</html>