<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>

<div th:fragment="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-4">
								<!--Sidebar content-->

								Search: <input ng-model="query"/>

							</div>
							<div class="col-md-6">

								<table class="table">
									<thead>
										<tr>
											<td>Character</td>
											<td>Corporation</td>
											<td>Is WST?</td>
											<td>Allow Non WST</td>
											<td>Login Allowed</td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="user in users | filter:query | orderBy:'cororationName'">
											<td>{{user.characterName}}</td>
											<td>{{user.corporationName}}</td>
											<td>{{user.wstUser | checkmark}}</td>
											<td>
											<div ng-show="user.wstUser">N/A</div>
											<input ng-show="!user.wstUser" ng-change="doSubmit()" type="checkbox" ng-model="user.allowNonWST"/></td>
											<td>{{user.loginAllowed | checkmark}}</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>

</div>

</body>
</html>