<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
<header th:fragment="header">
    <div class="container clearfix">
    <img th:href="@{/resources/images/wst-logo.png}"/>
        <h1 id="logo">
            W-S-T Shipbuilder
        </h1>
        <nav>
            <a href="">Groups</a>
            <a href="">Item Prices</a>
            <a href="/buildItem/all">All Ships</a>
        </nav>
    </div>
</header><!-- /header -->

</body>
</html>