<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
<header th:fragment="header">
    <div class="container clearfix">
    <img th:href="@{/resources/images/wst-logo.png}"/>
        <h1 id="logo">
            W-S-T Site
        </h1>
        <nav>
            <a href="/">Home</a>
            <a sec:authorize="isAuthenticated()"  th:href="@{/operation-hephaestus}">Operation Hephaestus</a>
            <a  sec:authorize="isAuthenticated()" th:href="@{/ship-orders}">Ship Orders</a>
  <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Log out</a>

  <a sec:authorize="isAnonymous()" th:href="@{/login}">Log in</a>
  <a sec:authorize="hasRole('ROLE_ADMIN')"  th:href="@{/admin}">Admin</a>

           
        </nav>
    </div>
</header><!-- /header -->

</body>
</html>