<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headtag"/> 
<body>
   


<div id="wrapper">

<header th:replace="fragments/header :: header"/>

<div id="main">
    <div id="content">
        <section>
            <div class="container">
            
    <h1>Admin pages</h1>
    <h2>User Details</h2>
    <table class="table">
          <thead>
          	<tr>
          		<th>Character Name</th>
          		<th>Corporation</th>
          		<th>Last Login</th>
          	</tr>
          </thead>
            <tbody>
              <tr th:each="user : ${users}">
                <td th:text="${user.characterName}"></td>
                <td th:text="${user.corporationName}"></td>
                <td th:text="${user.lastLoginDate != null} ? ${#dates.format(user.lastLoginDate, 'dd-MMM-yyyy HH:mm:ss')} : ''"></td>
                </tr>
                </tbody>
                </table>
            </div>
        </section>
    </div>
</div><!-- #main -->


<footer>
<div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>
<!-- /#top-bar -->
</footer><!-- /footer -->



</div><!-- /#wrapper -->
<script type="text/javascript" src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="webjars/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>