<!DOCTYPE html>
<html ng-app="wstSiteApp" ng-controller="SecurityCtrl as sec">
<head>
<meta charset="ISO-8859-1" />
<title>WST Angular</title>
<script th:src="@{/resources/js/angular.js}"
	src="/resources/js/angular.js"></script>
<script th:src="@{/resources/js/angular-resource.js}"
	src="/resources/js/angular-resource.js"></script>
<script th:src="@{/resources/js/angular-route.js}"
	src="/resources/js/angular-route.js"></script>
<script th:src="@{/resources/js/app.js}"
	src="/resources/js/app.js"></script>

<script th:src="@{/resources/js/services.js}"
	src="/resources/js/services.js"></script>
<script th:src="@{/resources/js/filters.js}"
	src="/resources/js/filters.js"></script>

<script th:src="@{/resources/js/controllers.js}"
	src="/resources/js/controllers.js"></script>
	

<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
<link rel='stylesheet'
	href='webjars/bootstrap/3.2.0/css/bootstrap.min.css' />
<link rel='stylesheet' th:href="@{/resources/css/main.css}"
	href="/resources/css/main.css" />
<script type="text/javascript" th:src="@{/resources/js/main_layout.js}"
	src="/resources/js/main_layout.js" />
<script>
	function init() {
		window
				.addEventListener(
						'scroll',
						function(e) {
							var distanceY = window.pageYOffset
									|| document.documentElement.scrollTop, shrinkOn = 300, header = document
									.querySelector("header");
							if (distanceY > shrinkOn) {
								classie.add(header, "smaller");
							} else {
								if (classie.has(header, "smaller")) {
									classie.remove(header, "smaller");
								}
							}
						});
	}
	window.onload = init();
</script>
</head>
<body ng-controller="UserListCtrl">
	<header th:fragment="header">
		<div class="container clearfix">
			<h1 id="logo">W-S-T Site</h1>
			<nav>
				<a href="/">Home</a>
            <a ng-show="sec.authenticated"  href="#/hephaestus">Operation Hephaestus</a>
            <a  ng-show="sec.authenticated" href="#/shiporders">Ship Orders</a>
  <a sec:authorize="hasRole('ROLE_ADMIN')" ng-show="sec.authenticated" href="#/useradmin">User Admin</a>

	<a  ng-show="!sec.authenticated" href="/login/evesso">Login with EVE</a>

	<a ng-click="sec.logout()" ng-show="sec.authenticated" href="#">Log Out</a>
			</nav>
		</div>
	</header>

	<div id="main">
		<div id="content">
			<section>
				<div class="container" ng-view="">

				</div>
			</section>
		</div>
	</div>

   <div id="info-bar">
    <div class="container clearfix">
	<span  class="login-details"  ng-show="sec.authenticated">Logged in as: <span class="login-details"  ng-bind="sec.user"></span></span>
        
    </div>
</div>

</body>
</html>