<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headtag"/> 
<body>
   


<div id="wrapper">

<header th:replace="fragments/header :: header"/>

<div id="main">
    <div id="content">
        <section>
            <div class="container">

          <table class="table">
          <thead>
          	<tr>
          		<th>Ship Name</th>
          		<th>Sell Price</th>
          		<th>Build Cost</th>
          		<th>Profit</th>
          		<th>Margin</th>
          	</tr>
          </thead>
            <tbody>
              <tr th:each="row : ${ships}" th:class="${row.profit > 0} ? 'success' : 'danger'">
                <td th:text="${row.ship.name}"></td>
                <td th:text="${#numbers.formatInteger(row.ship.price.sellPrice, 0, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(row.buildCost, 0, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(row.profit, 0, 'COMMA')}"></td>
                <td th:text="${#numbers.formatDecimal(row.margin,0,'POINT',2,'COMMA') + '%'}"></td>
              </tr>
            </tbody>
          </table>
  
           </div>
        </section>
    </div>
</div><!-- #main -->


<footer>
<div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>
<!-- /#top-bar -->
</footer><!-- /footer -->



</div><!-- /#wrapper -->
<script type="text/javascript" src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="webjars/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>