<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headtag"/> 
<body>
   


<div id="wrapper">

<header th:replace="fragments/header :: header"/>
<div id="main">
    <div id="content">
        <section>
            <div class="container">
    <p th:text="'id: ' + ${type.id} + ', name: ' + ${type.name} + ', selling cost: ' + ${#numbers.formatInteger(type.price.sellPrice, 0, 'COMMA')} + ' ISK'" />
  <p th:text="' Blueprint Name = ' + ${blueprint.name}" />
  
  
 
          <table>
          <thead>
          	<tr>
          		<th>Material ID</th>
          		<th>Material Name</th>
          		<th>Quantity</th>
          		<th>Material Sell Price</th>
          		<th>Material Buy Price</th>
          		<th>Material Price (Total)</th>
          	</tr>
          </thead>
            <tbody>
              <tr th:each="row : ${materials}">
                <td th:text="${row.id}"></td>
                <td th:text="${row.name}"></td>
                <td th:text="${row.quantity}"></td>
                <td th:text="${#numbers.formatInteger(row.price.sellPrice, 0, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(row.price.buyPrice, 0, 'COMMA')}"></td>
                <td th:text="${#numbers.formatInteger(row.price.buyPrice * row.quantity, 0, 'COMMA')}"></td>
              </tr>
              <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>Total Cost</td>
              <td th:text="${#numbers.formatInteger(totalCost, 0, 'COMMA') + ' ISK'}"></td>
              </tr>
              <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>Profit</td>
              <td th:text="${#numbers.formatInteger(profit, 0, 'COMMA') + ' ISK'}"></td>
              </tr>
              <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>Margin</td>
              <td th:text="${#numbers.formatDecimal(margin,0,'POINT',2,'COMMA') + '%'}"></td>
              </tr>
            </tbody>
          </table>
                  </div>
        </section>
    </div>
</div><!-- #main -->
          
          <footer>
          
<div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>
<!-- /#top-bar -->
</footer><!-- /footer -->



</div><!-- /#wrapper -->
<script type="text/javascript" src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="webjars/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>