<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headtag"/> 
<body>
   


<div id="wrapper">

<header th:replace="fragments/header :: header"/>

<div id="main">
    <div id="content">
        <section>
            <div class="container">
    Guess we'll put some ship ordering pages on here.
            </div>
        </section>
    </div>
</div><!-- #main -->


<footer>
<div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>
<!-- /#top-bar -->
</footer><!-- /footer -->



</div><!-- /#wrapper -->
<script type="text/javascript" src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="webjars/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>